<!doctype html>
<html>
    <style>
        body {
            background-color: hsla(246, 82%, 57%, 0.788);
        }
        h1 {
            margin: auto;
            width: 30%
        }
        form {
            background-color: hsla(231, 89%, 59%, 0.6);
            margin: auto;
            width: 35%;
        }
        .result {
            margin: auto;
            width: 35%;
            border: 1px solid #ccc;
        }
    </style>
    <head>
        <title>ThrowStats</title>
    </head>
    <h1>How likely is this throw to be completed?</h1>
    <form action="{{ url_for('main') }}" method="POST">
        <fieldset>
            <legend>Input values:</legend>
            Distance downfield:
            <input name="Xdist" type="number" required>
            <br>
            <br> Distance across field:
            <input name="Ydist" type="number" required>
            <br>
            <br> Stall:
            <input name="Stall" type="number" required>
            <br>
            <br>
            <input type="submit">
        </fieldset>
    </form>
    <div class="result" align="center">
        {% if result %}
            {% for variable, value in original_input.items() %}
                <b>{{ variable }}</b> : {{ value }}
            {% endfor %}
            <br>
            <br> Likelihood of throw success:
            <p style="font-size:50px">{{ result }}</p>
        {% endif %}
    </div>
</html>